* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 450px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.balance-box {
  background: #e8f5e9;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.balance-box h2 {
  color: green;
  margin-top: 10px;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  padding: 12px;
  border: none;
  background: dodgerblue;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #0066cc;
}

#expenseList {
  list-style: none;
  margin-top: 20px;
}

.expense-item {
  background: #fafafa;
  padding: 12px;
  margin-bottom: 10px;
  border-left: 5px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.delete-btn {
  background: red;
  padding: 8px 12px;
}

.delete-btn:hover {
  background: darkred;
}

#clearBtn {
  background: crimson;
}

#clearBtn:hover {
  background: darkred;
}

.edit-btn {
  background: orange;
  margin-right: 5px;
}

.edit-btn:hover {
  opacity: 0.9;
}
